@* the @model is used to basically import a model and allow u to use its values. *@

@{
    ViewData["Title"] = "View Submissions";
}

<div class="text-center">
    <h1 class="display-4">View Submissions</h1>
    <p>Here are all of your submissions.</p>
</div>
