@model Coordinates

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Squirrel Site (in progress)</h1>
    <a class="btn btn-primary" asp-action="Submit">Submit</a>
    <a class="btn btn-secondary" asp-action="ViewSubmissions">View Submissions</a>
    <br />
    <p> Latitude: @Model.Latitude</p>
    <p> Longitude: @Model.Longitude</p>
</div>

@*Notes: 
    - (1) The @model is used to basically import a model and allow you to use its values.
    - (8) Don't need to specify asp-controller="Home" because we're already in the Home folder
    - (11) The @Model accesses the model at the top, can only have on per doc.
*@