@* the @model is used to basically import a model and allow u to use its values. *@
@model SquirrelSite.Models.Submission

@{
    ViewData["Title"] = "Submit";
}

<div class="text-center">
    <h1 class="display-4">Submit</h1>
    <p>Submit a squirrel photo</p>

    <form asp-action="SubmitForm" asp-controller="Home" enctype="multipart/form-data">
        <label>Id</label>
        <input class="form-control" type="number" placeholder="Enter an Id" asp-for="Id" />

        <label class="mt-4">Photo</label>
        <input class="form-control" placeholder="Select a file" type="file" asp-for="Image" />

        <label class="mt-4">Latitude</label>
        <input class="form-control" type="number" placeholder="Enter Latitude" asp-for="Latitude" />

        <label class="mt-4">Longitude</label>
        <input class="form-control" type="number" placeholder="Enter Longitude" asp-for="Longitude" />

        <button class="btn btn-primary mt-4" type="submit">Submit</button>
    </form>
</div>
